.About {
  padding-left: 36px;
  padding-right: 34px;
  font-family: "Inter";
  font-style: normal;
}

.About > h2 {
  width: 242.71px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
}
.About > p {
  width: 247px;
  height: 61px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;

  color: #dcdcdc;
}
